header {
  text-align: center;
}

body {
  height: 100%;
}

main div {
  /* padding-left: 100px; */
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  padding-left: 20%;
  padding-right: 20%;
}

footer div {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5em;
  margin-right: 3em;
  padding-left: 20%;
  padding-right: 20%;
}

.card {
  text-align: center;
  /* height: 100%; */
  line-height: 100px;
  padding: 2px;
  border-radius: 3px;
  /* width:200px; */
  border: none;
  font-size: 1rem;
  font-weight: 900;
  color: white;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20%;
  padding-right: 20%;
}

.info button {
  height: 20px;
}

#redText {
  color: #d13030;
}

#blueText {
  color: #5786cf;
}


