.card {
    text-align: center;
    /* height: 100%; */
    line-height: 100px;
    padding: 2px;
    border-radius: 3px;
    /* width:200px; */
    border: none;
    font-size: 1rem;
    font-weight: 900;
    color: white;
  }
  
  #gray {
    background-color: black;
  }
  
  #red {
    background-color: #d13030;
  }
  
  #blue {
    background-color: #5786cf;
  }
  
  #black {
    background-color: #ede2cc;
    color: black;
  }
  
  #blackblack {
    background-color: #e8e8e8;
    color: black;
  }
  #blackblue {
    background-color: #e8e8e8;
    color: #5786cf;
  }
  
  #blackred {
    background-color: #e8e8e8;
    color: #d13030;
  }
  
  #blackgray {
    background-color: #e8e8e8;
    outline: 3px solid black;
    color: black;
  }